################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SEjemplo/.vs/SEjemplo/v16
/.vs
